{
    "env": {
        "test": {
            "presets": [
                "react",
                ["env", {
                    "modules": "commonjs",
                    "targets": {
                        "browsers": [">0.25%", "ie >= 11", "not ie < 11"]
                    },
                    "useBuiltIns": true,
                    "exclude": ["transform-regenerator", "transform-async-to-generator"]
                }]
            ],
            "plugins": [
                "transform-class-properties",
                "transform-object-rest-spread",
                ["istanbul", {
                    "exclude": [
                        "**/Modal/**",
                        "**/js/components/Consonant/Testing/**",
                        "**/app.jsx",
                        "**/ConsonantPageDOM.jsx",
                        "**/polyfills.js",
                        "**/watch.js",
                        "**/js/components/Consonant/Helpers/TestingConstants/**",
                        "**/__tests__/**",
                        "**/__test__/**",
                        "**/enzyme.config.js",
                        "**/*.config.js"
                    ]
                }]
            ]
        },
        "production": {
            "plugins": [
                ["transform-react-remove-prop-types", {
                    "ignoreFilenames": ["node_modules"]
                }]
            ]
        }
    },
    "presets": [
        ["env", {
            "modules": false,
            "targets": {
                "browsers": [">0.25%", "ie >= 11", "not ie < 11"]
            },
            "useBuiltIns": true,
            "plugins": ["transform-class-properties", "transform-object-rest-spread"],
            "exclude": ["transform-regenerator", "transform-async-to-generator"]
        }],
        "react"
    ]
}